
@{
    ViewData["Title"] = "IncorrectPermission";
}

<h1>Error Incorrect Permission</h1>
<div>
    <p>
        A user can only order. Make sure you assign the correct permission.
    </p>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
