
@{
    ViewData["Title"] = "NoOrders";
}

<h1>No Orders Associated with this Customer</h1>
<div>
    <p>
        This Customer has no orders that can be viewed.
    </p>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>


