
@{
    ViewData["Title"] = "NoReviews";
}

<h1>No Reviews</h1>
<div>
    <p>
        This Customer has not left any Reviews
    </p>
</div>
<div>
    <a asp-controller="UserAccounts" asp-action="Index">Back to List</a>
</div>
