
@{
    ViewData["Title"] = "NotInvoiced";
}

<h1>Error Not Invoiced</h1>
<div>
    <p>
        Order cannot be Dispatched as order has not been Invoiced
    </p>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
